<main class="main">
  <div class="content">
    {{ title }}

    <input
      type="text"
      (keyup)="onKeyUp(titleInput.value)"
      [value]="title"
      #titleInput
    />

    <input type="text" [(ngModel)]="data" />

    <h2>{{ data }}</h2>

    <input
      (keyup)="onNameChange(workName.value)"
      [value]="workData.name"
      #workName
    />
    <input [value]="workData.age" />
    <input [value]="workData.location" />

    {{ workData.name }}
    {{ workData.age }}
    {{ workData.location }}
    <app-register> </app-register>
    <app-contact-us
      [title]="titlefirst"
      (data)="handleData($event)"
    ></app-contact-us>
    <app-contact-us
      [title]="titlesecond"
      (data)="handleData($event)"
    ></app-contact-us>
  </div>
</main>

<router-outlet></router-outlet>
